/mesesdias/nbproject/private/
/mesesdias/build/
/JavaApplication10/dist/
/LeerPalabraEnFichero/nbproject/private/
/LeerPalabraEnFichero/build/
/ModificarFicheroTriangulo/nbproject/private/
/ModificarFicheroTriangulo/build/
/EscribirObjetoEnFichero/nbproject/private/
/EscribirObjetoEnFichero/build/
/VentanaEjerciciosLuis/nbproject/private/
/VentanaEjerciciosLuis/build/